$LobstrFont : 'Lobster Two';
$hnfont : 'Helvetica Neue';
$fs:16px;
$fw700:700;
$fw500:500;
$fw400:400;
$txtBlack:#1A1926;
$txtGray:#A1A1B5;
$ls:0.03px;
$systemFont: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$secondary_color:#3e3afe;